{% extends 'base.html.twig' %}

{% block body %}
    <h2>
        {{ movie.title }}
    </h2>

    <h3>
        Genres :
    </h3>

    {% for genre in movie.genres %}

         {{ genre.name }},

    {% else %}
        -
    {% endfor %}
   

    <h3>
        Acteurs :
    </h3>

    {% for casting in castings %}

         {{ casting.person.name }} :  <i> {{ casting.role }} </i> - {{ casting.orderCredit }}
        
         {# Permet de tester si je suis ne suis pas sur le dernier tour de boucle alors j'afiche par xemple une virgule#}
         
         {% if not loop.last %}
            ,
         {% endif %}
         
    {% endfor %}

{% endblock %}
